/* .tabContent {
  padding: 20px;
} */

.tabContent {
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 60px);
  transition: all 0.3s ease-in-out;
}

/* Base styles (for mobile) */
.tabContent {
  font-size: 14px;
}

/* Small tablets and large smartphones (landscape view) */
@media screen and (min-width: 576px) {
  .tabContent {
    font-size: 16px;
  }
}

/* Small tablets (portrait view) */
@media screen and (min-width: 768px) {
  .tabContent {
    font-size: 18px;
  }
}

/* Tablets and small desktops */
@media screen and (min-width: 992px) {
  .tabContent {
    font-size: 20px;
  }
}

/* Large tablets and desktops */
@media screen and (min-width: 1200px) {
  .tabContent {
    font-size: 22px;
  }
}
