.tabsContainer {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  min-width: max-content;
  flex: 0 0 auto;
}

.tabContent {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
}

.settingsTabContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  height: 100%;
}

.tabs {
  padding-inline: 2rem;
  padding-block: 1rem;
  cursor: pointer;
  border-radius: 5px;
  display: block;
}

.activeTab {
  background-color: #9b0e53;
  display: block;
}

.activeTab p {
  color: white;
}

.tabsScrollableWrapper {
  flex: 1;
  overflow: hidden;
}

.tabsScrollable {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* Add custom scrollbar styles for webkit browsers */
.tabsScrollable::-webkit-scrollbar {
  width: 8px;
}

.tabsScrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.tabsScrollable::-webkit-scrollbar-thumb {
  border-width: 1px;
  background: lightgray;
  border-radius: 4px;
}

.tabsScrollable::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}
