.gridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Space between items */
  justify-content: flex-start;
  margin-bottom: 3rem;
}

.employeeGrid {
  border: 0.5px solid #d8dae5;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: calc(25% - 1rem);
  box-sizing: border-box;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
}

.employeeGridFullIMG {
  border: 0.5px solid #d8dae5;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  width: max-content;
  overflow: hidden;
}

.empProfileContainer {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.empProfileContainer img {
  object-fit: cover;
  object-position: top center;
}

.empRoleContainer {
  background-color: #ff8c2e;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  max-width: 70px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Show "..." for long text */
  display: inline-block;
  position: absolute;
  z-index: 999;
  top: 0.5rem;
  left: 0.5rem;
}

.actionsIcon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  z-index: 999;
}

.actionMenuContainer {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  background-color: white;
  border-top-right-radius: 0;
  z-index: 99999999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.empID {
  color: #9b0e53;
  font-weight: 600;
}

.employeeGrid h2 {
  text-transform: capitalize;
}

.preferredStylist {
  background-color: #ffd7e4;
  padding-block: 0.3rem;
  padding-inline: 0.5rem;
  border-radius: 10px;
}

.stockImageContainer {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.fullImageContainer {
  position: relative;
  width: 100%;
  height: 230px; /* Fixed height for uniformity */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.fullImageContainer img {
  width: 100%; /* Ensures all images take full container width */
  height: 100%; /* Forces images to fill the container completely */
  object-fit: cover; /* Prevents distortion while covering the full area */
}

.stockImageContainer img {
  object-fit: cover;
}
.stockDtails {
  padding: 0.5rem;
}

.sameLine {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.3rem;
}

.detailsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.detailsContainer p {
  font-size: 12px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .employeeGrid {
    width: calc(33.33% - 1rem); /* 3 items per row */
  }
}

@media (max-width: 900px) {
  .employeeGrid {
    width: calc(50% - 1rem); /* 2 items per row */
  }
}

@media (max-width: 600px) {
  .employeeGrid {
    width: calc(100% - 1rem); /* 1 item per row */
  }
}

/* Loading skeleton styles  */
