.empRoleContainerLoading {
  position: absolute;
  left: -8.5rem;
  top: -16rem;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  margin-bottom: 3rem;
  width: 100%;
}

.employeeGrid {
  border: 0.5px solid #d8dae5;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: calc(25% - 1rem);
  box-sizing: border-box;
  gap: 1rem;
  position: relative;
}

.empRoleContainerLoading {
  position: absolute;
  left: -8.5rem;
  top: -16rem;
}
