.inputContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.inputFields {
  width: 30%;
}

.address {
  width: 100%;
}

.userInfo {
  text-align: center;
  margin-bottom: 20px;
}

.userPhoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: end;
  width: 30%;
  gap: 1rem;
}

.deleteAccountContainer {
  background-color: #f0f2f5;
  border-radius: 8px;
  padding: 1rem;
  margin-block: 1rem;
}

.tabContent p {
  font-size: 11px;
}

.confirmBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.userImage {
  position: relative;
  width: max-content;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.editProfileImageIcon {
  position: absolute;
  bottom: -1.5rem;
  right: -1rem;
  cursor: pointer;
}
