.searchContainer {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding-inline: 11px;
  padding-block: 8px;
  max-width: 400px;
  margin: 0 auto;
  gap: 10px;
}

.searchInput {
  border: none;
  outline: none;
  font-size: 13px;
  background-color: #f6f6f6;
  flex: 1;
  padding-block: 5px;
}
