.employeeDataContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.employeesSection {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.7rem;
  background-color: #f6f6f6;
  padding: 0.8rem;
  border-radius: 10px;
}

.empDetails {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.employeeOverflowContainer {
  height: calc(80px * 4);
  overflow-y: scroll;
  scrollbar-width: none;
}

/* Hide scrollbar for Webkit-based browsers */
.employeeOverflowContainer::-webkit-scrollbar {
  display: none;
}
