.commonButtonCls {
  padding: 12px 25px;
  background-color: #9b0e53;
  color: white;
  line-height: normal;
  font-weight: 700;
  font-size: 15px;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  display: flex; /* Ensures label stays in sync */
  justify-content: center; /* Centers label */
  align-items: center;
}

.commonButtonCls:hover {
  transform: scale(1.05);
}

.commonButtonCls:disabled {
  background-color: #b3b3b3; /* Gray background for disabled state */
  color: #e0e0e0;
  cursor: not-allowed;
}
