.eventContent {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}

.profilePictureContainer {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  margin-left: -1rem;
  justify-content: center;
}

.profilePicture {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.firstImage {
  margin-left: 0;
}

.eventTitle {
  font-size: 15px;
  text-transform: capitalize;
}

.tooltipContent {
  background-color: #5f002b;
  color: #fff;
  /* width: 100%; */
  border-radius: 5px;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  max-width: max-content;
  font-size: 14px;
  line-height: 2;
}

.tooltipTitle {
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 0.5rem;
}

.dayCellContent {
  position: relative;
}

.appointmentCount {
  position: absolute;
  color: #757575;
  font-size: 12px;
  bottom: -6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.countContainer {
  position: relative;
  bottom: 2.5rem;
}
