.billingAddress {
  width: 50%;
  padding: 1rem;
  border: 1px solid #d8dae5;
  border-radius: 6px;
}

.billingAddressInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-block: 1rem;
}

.billingInput {
  width: 48%;
}
