.offerContainer {
  border: 1px solid #d8dae5;
  border-radius: 5px;
  width: 100%;
  border-right-width: 2px solid red;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  cursor: pointer;
}

.offerHeader {
  width: 20%;
  border-right: 1px solid #d8dae5;
  padding-block: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.offerContainer h4 {
  font-size: 13px;
  color: #757575;
  text-align: left;
}

.offerBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actionButton {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  cursor: pointer;
  z-index: 99;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

.actionMenuContainer {
  position: absolute;
  top: 1.2rem;
  right: 2.5rem;
}

.offerHeader .dateContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
