.container {
  background-color: #f5f5f5;
  border-radius: 8px;
}

.table {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  /* overflow: hidden; */
  padding-top: 2%;
  padding-inline: 20px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.header {
  display: flex;
  background-color: #f0f2f5;
  font-weight: bold;
  padding-inline: 10px;
}

.cell {
  flex: 1;
  padding: 15px;
  /* text-align: center; */
  font-size: 13px;
}

.row {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding-inline: 15px;
  position: relative;
}

.actionsIcon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.body {
  display: flex;
  flex-direction: column;
}

.row:last-child {
  border-bottom: none;
}

.beforeHeader {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  justify-content: space-between;
}
.viewStyle {
  display: flex;
  align-items: center;
  border: 1px solid #d8dae5;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding-inline: 7px;
  padding-block: 5px;
  gap: 7px;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}
