.calendarContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header h4 {
  margin: 0;
  font-size: 1.5em;
}

.navButtons {
  display: flex;
  align-items: center;
}
.navButtons .leftRightIcons:hover {
  cursor: pointer;
}

.weekDaysContainer,
.daysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.weekDay {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 8px; */
}

.dayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.dayContainer:hover {
  background-color: #f0f0f0;
}

.today {
  background-color: orange;
  color: white;
  /* border-radius: 8px; */
}

.selected {
  background-color: #9b0e53;
  color: white;
  /* border-radius: 8px; */
}

.dayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected .day,
.selected .weekDay {
  color: white;
}
.day {
  font-size: 0.7rem;
  font-weight: 600;
  color: #757575;
}

.weekDay {
  font-size: 0.7rem;
  font-weight: 600;
  color: #757575;
}

.today .day,
.today .weekDay {
  color: rgb(255, 255, 255);
}
